# Created by https://www.gitignore.io/api/latex

sicsa-planrecognition-presentation.pdf
# bracis-goal-recognition-presentation.pdf
bracis-goal-recognition-presentation.synctex.gz

pucrs-planrecognition-presentation.synctex.gz

### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
.*.lb

ecai.pdf
planrecognition-ecai.pdf

# Mac crap
.DS_Store